// Add Stylus overrides here (variable list: https://github.com/vuetifyjs/vuetify/blob/master/src/stylus/settings/_variables.styl)

// $body-font-family = 'Open Sans'

@import '~vuetify/src/stylus/main'
